body, .round-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  flex-direction: column;
}

img {
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
}

.round-container {
  gap: 200px;
}

.player-container, .computer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 100px;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}

.choice {
  cursor: pointer;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
